@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
    --dark-blue: #11222c;
    --green-blue: #1c5858;
    --orange: #f69000;
}

canvas {
  position: fixed;
  top: 0;
  left: 0; 
}

#atualScore{
  position: absolute;
  top: 5;
  left: 80;
  padding: 10px;
  font-size: 40px;
  color: orange;
  background-color: transparent;
  font-family: "Bungee", cursive;
}